docker/run_docker_minty.R
BQDriver/animal-sniffer-annotations-1.20.jar
BQDriver/annotations-4.1.1.4.jar
BQDriver/api-common-1.10.3.jar
BQDriver/auto-value-annotations-1.8.1.jar
BQDriver/avro-1.10.2.jar
BQDriver/checker-compat-qual-2.5.5.jar
BQDriver/commons-codec-1.15.jar
BQDriver/commons-compress-1.20.jar
BQDriver/commons-logging-1.2.jar
BQDriver/conscrypt-openjdk-uber-2.5.1.jar
BQDriver/error_prone_annotations-2.6.0.jar
BQDriver/EULA.txt
BQDriver/failureaccess-1.0.1.jar
BQDriver/gax-1.63.0.jar
BQDriver/gax-grpc-1.63.0.jar
BQDriver/gax-httpjson-0.80.0.jar
BQDriver/google-api-client-1.31.4.jar
BQDriver/google-api-services-bigquery-v2-rev20210410-1.31.0.jar
BQDriver/google-auth-library-credentials-0.25.5.jar
BQDriver/google-auth-library-oauth2-http-0.25.5.jar
BQDriver/google-cloud-bigquery-1.128.1.jar
BQDriver/google-cloud-bigquerystorage-1.20.2.jar
BQDriver/google-cloud-core-1.94.8.jar
BQDriver/google-cloud-core-http-1.94.8.jar
BQDriver/google-http-client-1.39.2.jar
BQDriver/google-http-client-apache-v2-1.39.2.jar
BQDriver/google-http-client-appengine-1.39.2.jar
BQDriver/google-http-client-gson-1.39.2.jar
BQDriver/google-http-client-jackson2-1.39.2.jar
BQDriver/google-oauth-client-1.31.5.jar
BQDriver/GoogleBigQueryJDBC42.jar
BQDriver/grpc-alts-1.37.0.jar
BQDriver/grpc-api-1.37.0.jar
BQDriver/grpc-auth-1.37.0.jar
BQDriver/grpc-context-1.37.0.jar
BQDriver/grpc-core-1.37.0.jar
BQDriver/grpc-google-cloud-bigquerystorage-v1-1.20.2.jar
BQDriver/grpc-google-cloud-bigquerystorage-v1beta1-0.120.2.jar
BQDriver/grpc-google-cloud-bigquerystorage-v1beta2-0.120.2.jar
BQDriver/grpc-grpclb-1.37.0.jar
BQDriver/grpc-netty-shaded-1.37.0.jar
BQDriver/grpc-protobuf-1.37.0.jar
BQDriver/grpc-protobuf-lite-1.37.0.jar
BQDriver/grpc-stub-1.37.0.jar
BQDriver/gson-2.8.6.jar
BQDriver/guava-30.1.1-android.jar
BQDriver/httpclient-4.5.13.jar
BQDriver/httpcore-4.4.14.jar
BQDriver/j2objc-annotations-1.3.jar
BQDriver/jackson-annotations-2.12.2.jar
BQDriver/jackson-core-2.12.3.jar
BQDriver/jackson-databind-2.12.2.jar
BQDriver/javax.annotation-api-1.3.2.jar
BQDriver/joda-time-2.10.10.jar
BQDriver/json-20200518.jar
BQDriver/jsr305-3.0.2.jar
BQDriver/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
BQDriver/opencensus-api-0.28.0.jar
BQDriver/opencensus-contrib-http-util-0.28.0.jar
BQDriver/perfmark-api-0.23.0.jar
BQDriver/proto-google-cloud-bigquerystorage-v1-1.20.2.jar
BQDriver/proto-google-cloud-bigquerystorage-v1beta1-0.120.2.jar
BQDriver/proto-google-cloud-bigquerystorage-v1beta2-0.120.2.jar
BQDriver/proto-google-common-protos-2.1.0.jar
BQDriver/proto-google-iam-v1-1.0.12.jar
BQDriver/protobuf-java-3.15.8.jar
BQDriver/protobuf-java-util-3.15.8.jar
BQDriver/release-notes.txt
BQDriver/Simba Google BigQuery JDBC Connector Install and Configuration Guide.pdf
BQDriver/slf4j-api-1.7.30.jar
BQDriver/third-party-licenses.txt
BQDriver/threetenbp-1.5.1.jar
errorReportSql.txt
.Rproj.user
githubCreds.R
/workdir/workdir/ProneNlp/R/githubCreds.R
/workdir/workdir/ProneNlp/githubCreds.R
/workdir/workdir/ProneNlp/cdmDatabaseSchema.R
cdmDatabaseSchema.R
